<div class="navbar-wrapper">
	<div class = "container">
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<%= link_to "Eventica", root_path, class: "brand" %>
					<div class="nav-collapse collapse">
						<ul class="nav">
							<li><%= link_to "События", '#events' %></li>
							<li><%= link_to "Шаги", steps_path %></li>
							<li><%= link_to "О Нас", about_path %></li>
							<li><%= link_to "Контакты", contacts_path %></li>
						</ul>
						<div class="nav pull-right">
							<% if signed_in? %>
								<ul>
									<li><%= link_to "Users", '#' %></li>
									<li id="fat-menu" class="dropdown">
										<a href="#" class="dropdown-toogle" data-toogle="dropdown">Аккаунт <b class="caret"></b></a>
									</li>
									<ul>
										<li><%= link_to "Профиль", current_user %></li>
										<li><%= link_to "Настройки", '#' %></li>
										<li class="divider"></li>
										<li><%= link_to "Выход", signout_path, method: "delete" %></li>
									</ul>
								</ul>
							<% else %>
								<%= link_to "Регистрация", signup_path, class: "btn btn-primary" %>
								<%= link_to "Вход", '#about', class: "btn btn-success" %>
							<% end %>

						</div>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
	</div>
</div>